<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 contact">
                <p class="hidden-sm hidden-xs">Contact us at +1 972 330 3893 or hello@livewithbliss.com. <!--<a href="mailto:hello@livewithbliss.com">hello@livewithbliss.com</a>--></p>
                <p class="hidden-md hidden-lg">
                    <a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
            <div class="col-xs-7">
                <div class="social">
                    <a href="http://www.facebook.com/LiveWithBliss" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="http://twitter.com/LiveWithBliss" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="mailto:hello@livewithbliss.com" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </div>

                <!--<div class="login">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
                    <a href="#"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
                </div>-->

            </div>
        </div>
    </div>
</div>